<div class="js-shuffle u-portfolio row no-gutters mb-6">
  
  <!--北海道-->
  <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-hokkaidou"]'>
    <%= image_tag "/assets/prefectures/hokkaido.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">北海道</h6>
      <small class="d-block">一面真っ白な世界</small>
    </figcaption>
  </figure>
  
  <!--東北地方-->
  <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-touhoku"]'>
    <%= image_tag "/assets/prefectures/akita.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">秋田県</h6>
      <small class="d-block">十和田八幡平国立公園</small>
    </figcaption>
  </figure>
  
  <!--関東地方-->
<figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-kantou"]'>
    <%= image_tag "/assets/prefectures/gunma.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">群馬県</h6>
      <small class="d-block">尾瀬ヶ原</small>
    </figcaption>
  </figure>
  
  <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-kantou"]'>
    <%= image_tag "/assets/prefectures/tiba.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">千葉県</h6>
      <small class="d-block">原岡浅橋</small>
    </figcaption>
  </figure>
  
  <!--中部地方-->
<figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-tyubu"]'>
    <%= image_tag "/assets/prefectures/nigata.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">新潟県</h6>
      <small class="d-block">新潟さくらロード</small>
    </figcaption>
  </figure>
  
    <!--近畿地方-->
<figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-kinki"]'>
    <%= image_tag "/assets/prefectures/wakayama.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">和歌山県</h6>
      <small class="d-block">白浜町/円月島</small>
    </figcaption>
  </figure>
  
  <!--四国地方-->
  <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-shikoku"]'>
    <%= image_tag "/assets/prefectures/ehime.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">愛媛県</h6>
      <small class="d-block">亀老山展望公園</small>
    </figcaption>
  </figure>
  
    <!--中国地方-->
<figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-tyugoku"]'>
    <%= image_tag "/assets/prefectures/shimane.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">島根県</h6>
      <small class="d-block">宍道湖夕日スポット</small>
    </figcaption>
  </figure>
  
  <!--九州地方-->
<figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-kyusyu"]'>
    <%= image_tag "/assets/prefectures/kagoshima.jpg", class: "u-portfolio__image" %>
    <figcaption class="u-portfolio__info">
      <h6 class="mb-0">鹿児島県</h6>
      <small class="d-block">白谷雲水峡・苔むす森</small>
    </figcaption>
  </figure>
  
  <figure class="col-sm-6 col-md-4 u-portfolio__item shuffle_sizer"></figure>
  
</div>