<div class="container" style="margin-top:100px;">
  <div class="contents row">
    <% @posts.each do |post| %>
      <div class="content_post" style="background-image: url(<%= post.image %>);">
        <p><%= post.text %></p>
        <span class="name">
          <%= post.name %>
        </span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細をみる', post_path(post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', @post, method: :delete, data: { confirm: "削除してよろしいでしょうか？" } %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>