<div class="container" style="margin-top:100px;">
  <div class="contents row">
    <div class="content_post" style="background-image: url(<%= @post.image %>);">
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to "思い出を書き直す", edit_post_path(current_user) %>
          </li>
          <li>
            <%= link_to '削除', @post, method: :delete, data: { confirm: "削除してよろしいでしょうか？" } %>
          </li>
        </ul>
      </div>
      <p><%= @post.text %></p>
      <span class="name"><%= @post.name %></span>
      <p><%= @post.content %></p>
    </div>
  </div>
  <p><%= link_to '戻る', 'javascript:history.back()' %></p>
</div>



