<!DOCTYPE html>
<html>
    <head>
  <title><%= full_title(yield(:title)) %></title>    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="サービス紹介から抜粋">
    <meta name="author" content="Kanou Shimon">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="app/assets/vendors/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="app/assets/vendors/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="app/assets/vendors/magnific-popup/magnific-popup.css">
  
    <%= render 'layouts/shim' %>
  </head>
    

  <body>
    <%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer' %>
    
  <!-- JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
    <!-- Global Vendor -->
    <script src="assets/vendors/jquery.min.js"></script>
    <script src="assets/vendors/jquery.migrate.min.js"></script>
    <script src="assets/vendors/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>

    <!-- Components Vendor  -->
    <script src="assets/vendors/jquery.parallax.js"></script>
    <script src="assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/shuffle/jquery.shuffle.min.js"></script>

    <!-- Theme Settings and Calls -->
    <script src="assets/js/global.js"></script>

    <!-- Theme Components and Settings -->
    <script src="assets/js/vendors/parallax.js"></script>
    <script src="assets/js/vendors/magnific-popup.js"></script>
    <script src="assets/js/vendors/shuffle.js"></script>
    
     <script>
      $('.js-modal-open').on('click', function(){
      var target = $(this).data('target');
      var modal = document.getElementById(target);
      scrollPosition = $(window).scrollTop();
    
      $('body').addClass('fixed').css({'top': -scrollPosition});
      $(modal).fadeIn();
      return false;
    });
    
    // モーダルウィンドウを閉じる
    $('.js-modal-close').on('click', function(){
      $('body').removeClass('fixed');
      window.scrollTo( 0 , scrollPosition );
      $('.js-modal').fadeOut();
      return false;
    });
    </script>
    <!-- END JAVASCRIPTS -->
    
  </body>
</html>
